body {
	background: url(img/11.gif);
	color:white;
	background-repeat: no-repeat, repeat;
	background-size: cover;
}
hr {
	background-color: white;
}
a {
	color: black;
}

.col-6 {
	padding: 30px;
	min-height: 800px; 
	background-color: rgba(33,37,41,0.5);
}

.button {
	width: 70%;
	height: 20%;
	margin-top: 25%;
	margin-left: 20%; 
}
.btn {
	background-color: rgba(255,255,255, 0.5);
}
.workspace {
	margin-top: 30%;
}
.contact {
	opacity: 0.8;
}
form {
	opacity: 0.8;
}